textarea{
	width:275px;
	height:526.5px;
	padding:8px 15px;
	position:absolute;
	top:68.5px;
	font-size:20px;
	color:blue;
	left:10px;}

#content button{
	width:307px;
	background-color: #4CAF50; 
	border: none;
	position:absolute;
	top:10px;
	left:10px;
   	color: white;
    padding: 15px 32px;
   	text-align: center;
    text-decoration: none;
   	display: inline-block;
    font-size: 24px;}

table{
	background-color:#FF5733;
	float:left;
	position:absolute;
	top:10px;
	right:10px;
	border-collapse:collapse;
	opacity:0.4;
	z-index: -1;}

td{
	border:1px solid #C0B9B8;
	padding:20px;
	transition:background-color 4s}
@keyframes marke{
	 from {background-color: #E3148E;}
   	 to {background-color: #4CAF50;}}
.cla1{
	animation-name:marke;
	animation-duration:2s;
}
#task_bar{
	background-color: #AEAAAC;
	padding: 5px;
	width:297px;
	position:absolute;
	top:587px;
	font-size:18px;
	left: 10px;
	
}
.img1{
	width: 10%;
	float: left;
	position: absolute;
	right:0;
	padding: 4.5px;
	bottom: 1px;
	
}
.img2{
	width: 10%;
	float: left;
	position: absolute;
	right:40px;
	padding: 4.5px;
	bottom: 1px;
}
img:hover{
	background-color:#1DBAF5;
}
#task_bar p{
	padding: 5px;
	margin: 0px;
}
.ite{
	float: left;
	font-size:18px;
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes movement{
	 from {background-color: #FF5733;}
   	 to {background-color: yellow;}}
.cla{
animation-name:movement;
animation-duration:2s;
}
@keyframes comp{
	 from {background-color: #13EEF1;}
   	 to {background-color: #FFFFFF;}}
#message{
	
	overflow:auto;
	position:absolute;
	padding:10px;
	height:500px;
	width:600px;
	top:50px;
	left:450px;
	background-color:white;}
#message_content{
	
	position:absolute;
	top:40px;}
.compass{
	visibility: hidden;
	width: 8%;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1;
}
.compass :hover{
	background-color: white;
}
.freeze{
	position: fixed;
	left: 450px;
	width: 600px;
	height:50px;
	top: 50px;
	background-color: white;
}
#close_button{
	position: absolute;
	right: 10px;
	border:none;
	top:5px;
	padding:5px 10px;
	color: white;
	background-color: #4CAF50; 
       	text-align: center;
    	text-decoration: none;
   	display: inline-block;
    	font-size: 16px;}

#message_content{
	font-size:18px;
	font-family: Arial;}
p{
	font-family: Arial;}
.f{
	padding-left: 10px;
	font-family: Arial;}
h4{
	font-family: Arial;}
.t{
	font-family: Arial;}
#content{
	opacity:0.4;
}
